<h2>New Blog Post</h2>
<form class="" action="users/new" method="post">
  <input type="text" name="title" placeholder="Enter Title" />
  <input type="textarea" name="blog" placeholder="Enter Blog" />
  <input type="text" name="password" placeholder="Enter Password" />
  <input type="submit" value="Submit" />
</form>
